<!-- cart-price-update.liquid -->

<style>
  .cart-price-container {
    background-color: #f3f3f3; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    margin-top: 10px; /* Adjust margin as needed */
    width: 200px; /* Adjust width as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add shadow for depth */
  }

 .progress-bar-container {
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Adjust margin as needed */
  }

  .progress-bar {
    background-color: #b5e2a3; /* Green progress bar color */
    height: 10px; /* Height of the progress bar */
    border-radius: 5px; /* Rounded corners */
    width: 0; /* Initial width, will be updated dynamically */
  }
</style>
<div id="free-shipping-progress-bar" class="cart-price-container">
  <div id="cart-total-price" data-id="template--15405003735130__cart-footer" class="js-contents"> {{cart.total_price}} </div>
  <div class="progress-bar-container">
    <div class="progress-bar"> </div>
  </div>
</div>

