

<div class="cart-price-container">
  <div id="cart-total">{{ cart.total_price }}</div>
  <div class="progress-bar-container">
    <div id="free-ship-progress" class="free-ship-progress"> </div>
  </div>
</div>
