{%- assign shipping_threshold_dollars = settings.free_shipping_threshold | times: 100 -%}
{%- assign free_shipping = shipping_threshold_dollars | minus: cart.total_price -%}

      <div id="free-shipping-progress">
        <p>{{ settings.free_shipping_threshold }}</p>
        <div class="cart-price-container">
          <p>{{ cart.total_price | divided_by: shipping_threshold_dollars }}</p>
            {% if free_shipping <= 0 %}
              <div id="cart-total">You're order ships free!</div>
            {% else %}
              <div id="cart-total">You're {{ free_shipping | money }} away from free shipping</div>
            {% endif %}
          <div class="progress-bar-container"> </div>
          <div id="free-ship-progress" class="free-ship-progress" style="width: {{ cart.total_price | divided_by: shipping_threshold_dollars }}%"> </div>
        </div>
      </div>
