{%- assign shipping_threshold_dollars = settings.free_shipping_threshold | times: 100 -%}
      <div id="free-shipping-progress">
        <p>{{ settings.free_shipping_threshold }}</p>
        <div class="cart-price-container">
            
          <div id="cart-total">You're {{ shipping_threshold_dollars | minus: cart.total_price | money }} away from free shipping</div>
          <div class="progress-bar-container"> </div>
          <div id="free-ship-progress" class="free-ship-progress"> </div>
        </div>
      </div>