  .cart-price-container {
    background-color: #f3f3f3; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    width: 250px; /* Adjust width as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add shadow for depth */
    position: absolute;
    margin-top: 20px;
    font-size: 12px;
    margin-left: -240px;
  }

  .free-shipping-empty-cart {
    
  }

  .progress-bar-container {
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Adjust margin as needed */
  }

  .free-ship-progress {
    background-color: #b5e2a3; /* Green progress bar color */
    height: 10px; /* Height of the progress bar */
    border-radius: 5px; /* Rounded corners */
    width: 0; /* Initial width, will be updated dynamically */
  }